body {
    margin: 0;
    font-family: sans-serif;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 17;
}

.logo_pic {
    text-align: center;
    margin: 15px 15px;
}

.menu_list {
    text-align: center;
    margin: 15px 15px;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: auto auto;
}

.menu_item {
    float: left;
    margin: 15px 15px;
}

.product {
    text-align: center;
    margin: 15px 15px;
    font-family: sans-serif;
}

.product_item {
    margin: 15px 15px;
}