{% extends 'base.html' %}

{% block head %}
<title>Fratelli - Cucina Italiana Bar</title>
{% endblock %}

{% block body %}
<div class="logo_pic">
    <img src="../static/picture/Fratteli_Logo.PNG">
</div>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/menu">Menü</a>
    <a href="#news">News</a>
    <a href="#restaurants">Restaurants</a>
    <a href="#reservation">Reservierung</a>
</div>

<div class="product">
    <div class="product_item">
        <h1>{{ food.name }}</h1>
        <img src='{{ food.picture_link }}' alt="Picture not found" height="400">
        <p>{{food.description}}</p>
    </div>
</div>


{% endblock %}